.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sub {
  margin-top: 16px;
}

.conceptTag {
  align-self: flex-start;
  margin-top: 40px;
}

.journey {
  margin-top: 16px;
}

.sources {
  margin-top: auto;
  padding-top: 16px;
}

:global(.is-reading) .wrap {
  height: auto;
}

:global(.is-reading) .journey {
  margin-top: 24px;
}

:global(.is-reading) .sources {
  padding-top: 24px;
}
